# import numpy , pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
array1 = np.array(range(0,10,2))
array2 = np.array(range(1,10,2))

In [3]:
series1 = pd.Series(array1) 
series2 = pd.Series(array2)

In [4]:
print('series1:\n' , series1)
print('*'*20)
print('series2:\n' , series2)

series1:
 0    0
1    2
2    4
3    6
4    8
dtype: int32
********************
series2:
 0    1
1    3
2    5
3    7
4    9
dtype: int32

## +

In [5]:
print('series1 + series2:\n' , series1 + series2)

series1 + series2:
 0     1
1     5
2     9
3    13
4    17
dtype: int32

## *

In [6]:
print('series1 * series2:\n' , series1 * series2)

series1 * series2:
 0     0
1     6
2    20
3    42
4    72
dtype: int32

## **

In [7]:
print('series1 ** series2:\n' , series1 ** series2)

series1 ** series2:
 0            0
1            8
2         1024
3       279936
4    134217728
dtype: int32

## ==

In [8]:
print('series1 == series2:\n' , series1 == series2)

series1 == series2:
 0    False
1    False
2    False
3    False
4    False
dtype: bool