# import pandas

In [1]:
import pandas as pd

#### read csv

In [2]:
data = pd.read_csv('mydata.csv')

###### df = pd.DataFrame(data , columns , dtype , copy)

In [3]:
df = pd.DataFrame(data , columns=['name' , 'age' , 'job'])

In [4]:
print(df)

         name  age                job
0       James   21         programmer
1        Mary   19            actuary
2        John   24         bank clerk
3      Robert   11          economist
4    Jennifer   29  financial adviser
5     Michael   17             doctor
6   Elizabeth   26            manager
7     William   12    project manager
8       Linda   20            cashier
9       David   10              baker
10    Barbara   28        telephonist
11    Richard   18       web designer
12      Susan   35            dentist
13     Joseph   41             Joseph

In [5]:
print('jobs columns is :\n' , df['job'])

jobs columns is :
 0            programmer
1               actuary
2            bank clerk
3             economist
4     financial adviser
5                doctor
6               manager
7       project manager
8               cashier
9                 baker
10          telephonist
11         web designer
12              dentist
13               Joseph
Name: job, dtype: object

#### loc

In [6]:
print(df.loc[3])

name       Robert
age            11
job     economist
Name: 3, dtype: object

#### head

In [7]:
print(df.head(5))

       name  age                job
0     James   21         programmer
1      Mary   19            actuary
2      John   24         bank clerk
3    Robert   11          economist
4  Jennifer   29  financial adviser

#### tail

In [8]:
print(df.tail(5))

       name  age           job
9     David   10         baker
10  Barbara   28   telephonist
11  Richard   18  web designer
12    Susan   35       dentist
13   Joseph   41        Joseph

In [9]:
print(df['age']>20)

0      True
1     False
2      True
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10     True
11    False
12     True
13     True
Name: age, dtype: bool

In [10]:
print(df[df['age']>=20])

         name  age                job
0       James   21         programmer
2        John   24         bank clerk
4    Jennifer   29  financial adviser
6   Elizabeth   26            manager
8       Linda   20            cashier
10    Barbara   28        telephonist
12      Susan   35            dentist
13     Joseph   41             Joseph